@font-face {
  font-family: 'C';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../assets/cbk.otf') format('opentype');
}

@font-face {
  font-family: 'C';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../assets/cmd.otf') format('opentype');
}

@font-face {
  font-family: 'C';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../assets/cbl.otf') format('opentype');
}
